body {
    background-color: red;
    font-size: 18px;
    font-family: "Josefin_Sans";
    font-weight: 400;
}

@font-face {
    font-family: "Josefin_Sans";
    src: url("../../fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
